= simple_form_for @import_file do |f|
  = f.error_notification
  %form
    .row
      .form-group.col-8
        =f.input :data, as: :file, required: false, error: true, label: "File"
    .row
    =f.submit class: "btn btn-primary"
