= simple_form_for @addition do |f|
  = f.error_notification
  =f.input :data, as: :file, required: false, error: true, label: "File"
  =f.input :playlist_name, as: :select, collection: GetPlaylistList.new.playlists_names(EncryptionService.decrypt(current_user.token), current_user), include_blank: false, error: false
  =f.submit class: "btn btn-primary"
  
